body{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    /* background-image: url("../images/lms-back.jpeg");
    background-repeat: no-repeat; /* Prevent the background image from repeating 
    background-size: cover; /* Adjust the background image size to cover the entire body */
  }
/* ------------------------- header and footer --------------------------------------- */

/* select2 fix start */
.select2-close-mask{
  z-index: 2099;
}
.select2-dropdown{
  z-index: 3051;
}
/* select2 fix start */