body {
    /* background-color: rebeccapurple !important; */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: white !important;
    /* background-image: url("../images/lms-back.jpeg");
    background-repeat: no-repeat;
    background-size: cover; */
}
/* ------------------------- header and footer --------------------------------------- */
/* Dark/Light Mode Switch Styles */
.dark-mode {
  background-color: black !important;
  color: white;
}
.dark-light-switch {
  margin-right: 37%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #2196F3; /* Dark mode background color */
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
#modeLabel {
  display: inline-block;
  margin-left: 10px;
}

/* end */

/* --------------------------------------------------------------- */

/* select2 fix start */
.select2-close-mask{
  z-index: 2099;
}
.select2-dropdown{
  z-index: 3051;
}
/* select2 fix start */

/* css propery to remove background from a image AND don't delete this */
img{
  mix-blend-mode: darken, multiply;
}
/* end */