{% extends 'base.html' %}
{% load static %}
{% block title %} Contact Us {% endblock %}
{% block content %}

<div class="container mt-5">
  <div class="text">
    Contact us Form
  </div>
  <form method='post' action="" id="myForm">
    {% csrf_token %}
    <div class="form-row">
      <div class="input-data">
        <input name="first_name" type="text" required>
        <div class="underline"></div>
        <label for="">First Name</label>
      </div>
      <div class="input-data">
        <input name="last_name" type="text" required>
        <div class="underline"></div>
        <label for="">Last Name</label>
      </div>
    </div>
    <div class="form-row">
      <div class="input-data">
        <input name="email_address" type="email" required> <div class="underline"></div>
        <label for="">Email Address</label>
        <div id="validationerror" style="display: none;color: red;"></div>
      </div>
      <div class="input-data">
        <input name="website_name" type="text" required>
        <div class="underline"></div>
        <label for="">Website Name</label>
      </div>
    </div>
    <div class="form-row">
      <div class="input-data textarea">
        <textarea name="customer_message" rows="8" cols="80" required></textarea>
        <br />
        <div class="underline"></div>
        <label for="">Write your message</label>
        <br />
        <div class="form-row submit-btn">
          <div class="input-data">
            <div class="inner"></div>
            <input type="submit" id="submitButton" value="Submit"> </div>
          <div id="errorMessage" class="alert alert-danger" role="alert" style="display: none;"></div> 
          <div id="successMessage" class="alert alert-success" role="alert" style="display: none;"></div> </div>
      </div>
    </div>
  </form>

  <!--{% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="message {{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %} -->
</div>

{% endblock content %}

{% block scripts %}
<script>
  $(document).ready(function() {
    $('#submitButton').click(function(event) {
      event.preventDefault();

      var allFieldsFilled = true;
      $('#myForm input, #myForm select, #myForm textarea').each(function(index, element) {
        if (!$(this).val().trim()) {
          allFieldsFilled = false;
          $('#errorMessage').text("One or More Fields are empty").show().delay(2000).fadeOut('slow');
          return false; // Exit the loop after showing the first error message
        }
      });

      if (allFieldsFilled) {
        var formData = new FormData($('#myForm')[0]);

        $.ajax({
          url: "{% url 'contactform' %}",
          type: 'POST',
          data: formData,
          contentType: false,
          processData: false,
          success: function(response) {
            $('#successMessage').text(response.message).show().delay(2000).fadeOut('slow');
            $('#myForm')[0].reset();
          },
          error: function(xhr, status, error) {
            var errorMessage = xhr.responseJSON.error;
            if (errorMessage) {
              $('#validationerror').text(errorMessage).show().delay(2000).fadeOut(3000);
            } else {
              console.error("Error:", xhr.responseText);
            }
          }
        });
      }
    });
  });
</script>
{% endblock %}