{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
   
</style>
    <h2 class="lib text-center mt-3" style="color:gray;">Library Management System</h2>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active text-danger" data-toggle="tab" href="#tab1">LibraryCard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" data-toggle="tab" href="#tab2">Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" data-toggle="tab" href="#tab3">Student Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" data-toggle="tab" href="#tab4">Borrower</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab1" class="tab-pane fade show active">
                <table class="table table-dark table-bordered text-center">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Card Number</th>
                            <th scope="col">Issued Date</th>
                            <th scope="col">Expiration Date</th>
                            <th scope="col">User</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for card in library_card %}
                        <tr>
                            <th scope="row">{{ card.id }}</th>
                            <th scope="row">{{ card.card_number }}</th>
                            <td>{{ card.issued_date }}</td>
                            <td>{{ card.expiration_date }}</td>
                            <td>{{ card.user }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="tab2" class="tab-pane fade">
                <table class="table table-dark table-bordered text-center">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Publication Year</th>
                            <th scope="col">Isbn</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bk in books %}
                        <tr>
                            <th scope="row">{{ bk.id }}</th>
                            <th scope="row">{{ bk.title }}</th>
                            <td>{{ bk.author }}</td>
                            <td>{{ bk.publication_year }}</td>
                            <td>{{ bk.isbn }}</td>
                            <td>{{ bk.quantity }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="tab3" class="tab-pane fade">
                <table class="table table-dark table-dark table-bordered text-center">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">User</th>
                            <th scope="col">Student Id</th>
                            <th scope="col">Branch</th>
                            <th scope="col">Library Card</th>
                            <th scope="col">Penalty (in Rupees) </th>
                            <th scope="col">Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bws in student_information %}
                        <tr>
                            <th scope="row">{{ bws.id }}</th>
                            <td>{{ bws.branch.user }}</td>
                            <td>{{ bws.branch.user.id }}</td>
                            <td>{{ bws.branch }}</td>
                            <td>{{ bws.library_card }}</td>
                            {% if bws.Penalty == 'No Penalty' %}
                            <td>{{ bws.Penalty }}</td>
                            {% else %}
                            <td>&#x20b9;{{ bws.Penalty }}</td>
                            {% endif %}
                            <td>{{ bws.address }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="tab4" class="tab-pane fade">
                <table class="table table-dark table-bordered text-center">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Book Name</th>
                            <th scope="col">Author Name</th>
                            <th scope="col">Book Borrower Student</th>
                            <th scope="col">Student Name</th>
                            <th scope="col">Branch</th>
                            <th scope="col">Borrow Date</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Return Date</th>
                            <th scope="col">Return Book</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for borrow in borrower %}
                        <tr>
                            <tr id="borrowerRow_{{ borrow.id }}">
                            <th scope="row">{{ borrow.id }}</th>
                            <td>
                                {{ borrow.books.all|join:", " }}
                            </td>
                            <td>
                                {% for book in borrow.books.all %}
                                    {{ book.author.name }}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ borrow.book_borrower_student }}</td>
                            <th scope="row">{{ borrow.book_borrower_student.full_name }}</th>
                            
                            <td>{{  borrow.branch }}</td>
                            <td>{{  borrow.borrow_date }}</td>
                            <td>{{ borrow.due_date }}</td>
                            <td>{{ borrow.return_date }}</td>
                            <td>
                                <button type='button' class='btn btn-secondary' data-bs-toggle="modal" data-bs-target="#returnModal" 
                                data-student-id="{{ borrow.book_borrower_student.id }}" data-return-date="{{ borrow.return_date }}" 
                                data-borrow-id="{{ borrow.id }}">Return Book</button>
                            </td>
                            <td><button type='button' class="btn btn-secondary delete-btn" data-borrower-id="{{ borrow.id }}">Delete</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-secondary" style="float:left;" data-bs-toggle="modal" data-bs-target="#borrowModal">
                            Create Borrower 
                        </button>
                    </div>
                    {% comment %} <div class="col-sm-2">
                        <a type="button" class="btn btn-secondary" href="{% url 'test' %}" target="_blank">Issue Book</a>
                    </div> {% endcomment %}
                    <div class="col-sm-8"><div id="successMessage" class="alert alert-success" role="alert" style="display:none;height:70%;"></div>
                    <div class="col-sm-10"><div id="errorMessage" class="alert alert-danger" role="alert" style="display:none;height:70%;"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Includes Bootstrap Modal -->
    {% include 'LibraryManagementSystem/borrower.html' %}
    {% include 'LibraryManagementSystem/return.html' %}
    <!-- Comment Close -->
    
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/home/table_tab.js' %}"></script> 
<script>
    var deleteBookUrl = "{% url 'delete' 0 %}";
</script>
<script src="{% static 'js/home/delete.js' %}"></script>
{% endblock %}

