{% load static %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<!-- Modal Start -->
<div class="modal" id="borrowModal" tabindex="-1" role="dialog" aria-labelledby="borrowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="borrowModalLabel">Book Issue Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <h2>Book Selection Form</h2>
                    <form id="borrowBookForm">
                      <div class="form-group">
                        <label for="selectBooks">Select Books (Multi-Select):</label>
                        <select id="selectBooks" class="form-control" multiple></select>
                      </div>
                      <div class="form-group">
                        <label for="selectUser">Select User:</label>
                        <select id="selectUser" class="form-control"></select>
                      </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="saveChangesBtn" class="btn btn-primary">Save changes</button>
              </div>
        </div>
    </div>
</div>
<div id="successMessage" class="alert alert-success" role="alert" style="display: none;"></div>
<!-- Modal End -->
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>
<script>
    $(document).ready(function() {
        $('#selectBooks').select2({
            placeholder: 'Select books',
            ajax: {
                url: '{% url 'get_books' %}',
                dataType: 'json',
                processResults: function(data) {
                    return {
                        results: data.results
                    };
                }
            }
        });
    
        $('#selectUser').select2({
            placeholder: 'Select user',
            ajax: {
                url: '{% url 'get_users' %}',
                dataType: 'json',
                processResults: function(data) {
                    return {
                        results: data.results
                    };
                }
            }
        });
    });
</script>
{% endblock %}
