{% load static %}
<!-- Modal Start -->
<div class="modal" id="borrowModal" role="dialog" aria-labelledby="borrowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="borrowModalLabel" style="color:red;">Book Issue Form</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Move your HTML content here -->
                <div class="container justify-content-center"> 
                    <div class="row">
                        <form id="borrowBookForm" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="selectBooks">Select Books (Multi-Select):</label>
                                <select id="selectBooks" class="form-control form-control-lg" multiple></select>
                            </div>
                            <div class="form-group" id="authorContainer">
                                <label for="selectAuthor">Author:</label>
                                <select id="selectAuthor" class="form-control form-control-lg" multiple></select>
                            </div>
                            <div class="form-group">
                                <label for="selectBranch">Select Branch:</label>
                                <select id="selectBranch" class="form-control form-control-lg"></select>
                            </div>
                            <div class="form-group" id="userContainer">
                                <label for="selectUser">Select User:</label>
                                <select id="selectUser" class="form-control"></select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" id="saveChangesBtn" class="btn btn-primary submit">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->

<div id="successMessage" class="alert alert-success" role="alert" style="display: none;"></div>

{% block scripts %}
<script>
    const get_books = "{% url 'get_books' %}"
    const get_authors_for_books = "{% url 'get_authors_for_books' %}"
    const get_branch = "{% url 'get_branch' %}"
    const get_users_by_branch = "{% url 'get_users_by_branch' %}"
    const save_borrower = "{% url 'save_borrower' %}"
    const get_updated_data_for_table = "{% url 'get_updated_data_for_table' %}"
</script>
<script src="{% static 'js/Modal-Forms/borrow_modal.js' %}"></script>
{% endblock %}
