{% extends 'base.html' %}
{% load static %}
{% block title %} Register {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/form1.css' %}">
<div class="container mt-5">
  <div class="title">Registration</div>
  <div class="content">
     <form method="post" action="" id="myForm">
      {% csrf_token %}
        <div class="row">
           <div class="col-md-6 mt-3">
              <div class="form-group">
                 <label for="firstName" class="form-label">First Name</label>
                 {{ form.first_name }}
              </div>
           </div>
           <div class="col-md-6 mt-3">
              <div class="form-group">
                 <label for="lastName" class="form-label">Second Name</label>
                 {{ form.last_name }}
              </div>
           </div>
        </div>
        <div class="row">
        <div class="col-md-6 mt-3">
           <div class="form-group">
              <label for="username" class="form-label">Username (Email)</label>
              {{ form.email }}
           </div>
        </div>
        <div class="col-md-6 mt-3">
           <div class="form-group">
              <label for="dateofbirth" class="form-label">Date Of Birth</label>
              {{ form.date_of_birth }}
           </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mt-3">
        <div class="form-group">
           <label for="password" class="form-label">Password</label>
           {{ form.password1 }}
        </div>
      </div>
        <div class="col-md-6 mt-3">
        <div class="form-group">
           <label for="confirmPassword" class="form-label">Confirm Password</label>
           {{ form.password2 }}
        </div>
      </div>
      </div>
      <div class="form-group mt-3">
        <label for="role">Role</label>
        <select class="form-control" id="role" name="role" aria-label="Select Role">
          <option value="">Select a Role</option>
          {% for value, label in form.fields.role.choices %}
            <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
        </select>
      </div>
      <div class="button">
        <input type="submit" id="submitButton" value="submit">
      </div>
      <div id="errorMessage" class="alert alert-danger" role="alert" style="display: none;"></div> 
          <div id="successMessage" class="alert alert-success" role="alert" style="display: none;"></div> </div>
          <div id="servererror" class="alert alert-success" role="alert" style="display: none;"></div> </div>
     </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    $('#submitButton').click(function (event) {
        event.preventDefault();
        var first_name = $('#id_first_name').val();
        var last_name = $('#id_last_name').val();
        var email = $('#id_email').val();
        var date_of_birth = $('#id_date_of_birth').val();
        var password1 = $('#id_password1').val();
        var password2 = $('#id_password2').val();
        var role = $('#role').val();
        var formData = new FormData(document.querySelector("#myForm"));
        console.log(new FormData().entries().next);
        console.log('name',first_name,last_name,email,date_of_birth,password1,password2,role)
    });
  });
   
</script>
{% endblock %}