{% extends 'base.html' %}
{% load static %}
{% block title %} Register {% endblock %}
{% block content %}

<div class="add_user mt-5">
    <div class="title">Registration</div>
    <div class="content">
        <form method="post" action="" id="myForm">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mt-1">
                    <div class="form-group">
                        <label for="firstName" class="form-label">First Name</label>
                        {{ form.first_name }}
                        <span class="text-danger" id="first_name_errors"></span>
                    </div>
                </div>
                <div class="col-md-6 mt-1">
                    <div class="form-group">
                        <label for="lastName" class="form-label">Last Name</label>
                        {{ form.last_name }}
                        <span class="text-danger" id="last_name_errors"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-1">
                    <div class="form-group">
                        <label for="username" class="form-label">Username (Email)</label>
                        {{ form.email }}
                        <span class="text-danger" id="email_errors"></span>
                    </div>
                </div>
                <div class="col-md-6 mt-1">
                    <div class="form-group">
                        <label for="dateofbirth" class="form-label">Date Of Birth</label>
                        {{ form.date_of_birth }}
                        <span class="text-danger" id="date_of_birth_errors"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-1">
                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        {{ form.password1 }}
                        <span class="text-danger" id="password1_errors"></span>
                    </div>
                </div>
                <div class="col-md-6 mt-1">
                    <div class="form-group">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        {{ form.password2 }}
                        <span class="text-danger" id="password2_errors"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mt-1">
                        <label for="role" class="form-label">Role</label>
                        <select class="form-control" id="role" name="role" aria-label="Select Role">
                            <option value="">Select a Role</option>
                            {% for value, label in form.fields.role.choices %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                        <span class="text-danger" id="role_errors"></span>
                    </div>
                </div>
                <div class="col-md-6" id="branchField" style="display: none;">
                    <div class="form-group mt-1">
                        <label for="branch" class="form-label">Branch</label>
                        {{ form.branch }}
                        <span class="text-danger" id="branch_errors"></span>
                    </div>
                </div>
            </div>
            <div class="button">
                <input type="submit" id="submitButton" value="Submit">
            </div>
        </form>
        <div id="successMessage" class="alert alert-success" role="alert" style="display: none; padding: 5px 10px; margin: 5px;"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#role').change(function() {
            var role = $(this).val();
            if (role === 'admin') {
                $('#branchField').hide();
            } else {
                $('#branchField').show();
            }
        });
        $('#myForm').submit(function(event) {
            event.preventDefault();
            $.ajax({
                url: "{% url 'register' %}",
                type: 'POST',
                data: $(this).serialize(),
                success: function(response) {
                    $('#successMessage').delay(2000).text(response.message).show().fadeOut('slow');
                    $('#myForm')[0].reset();
                },
                error: function(xhr, status, error) {
                    var errors = xhr.responseJSON.errors;
                    if (errors) {
                        $.each(errors, function(field, messages) {
                            $('#' + field + '_errors').text(messages.join(' '));
                        });
                    } else {
                        console.error("Error:", xhr.responseText);
                    }
                }
            });
        });
    });
</script>
{% endblock %}